:root {
    --blanco: #fff;
    --gris: #777777;
    --grisClaro: #e8e8e8;
    --grisBorder: #a3a3a3aa;
    --negro: #000;
    --negroAlpha: #00000080;
    --fuentePrincipal: 'Inter', sans-serif;
    --fuenteHeading: 'Fraunces', serif;
    --colorPrimario: #003156;
    --colorPrimario2: #055f91;
    --colorPrimario3: #02a5b4;
    --colorSecundario: #fbb12f;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    /* APARIENCIA */
    background-color: var(--grisClaro);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 700rem;
    font-size: 1.6rem;

}


/* ((MAIN)) */

.main {
    padding-top: 12rem;
}

/* ((RECURSOS-MUESTRA)) */

.recursos-muestra {
    height: 60rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    position: relative;
}

.fondo--filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--colorPrimario), rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 1;
    /* No bloquea interacción */
}

/* => RECURSO VIDEO */

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* => RECURSO IMAGEN */

.recurso__imagen {
    background-image: url(../src/img/bg/parque_pueblonuevo.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}

.recurso__imagen::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../src/img/textures/diagonal-noise.png);
    opacity: .7;
}

.banner__ubicacion {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--gris);
    font-family: var(--fuentePrincipal);
    font-size: 1.9rem;
    font-weight: 500;
    padding: .7rem 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

/* => BANNER */

.recurso__banner {
    width: fit-content;
    /* tamaño minimo necesario */
    font-family: var(--fuentePrincipal);
    position: absolute;

    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 0 5rem 5rem;

}

.recurso__banner--default {
    width: fit-content;
    background-color: var(--colorPrimario);
    color: var(--blanco);
}

.recurso__banner p:nth-child(1) {
    font-size: 3rem;
    font-weight: 500;
    padding: .3rem 1rem;
}

.recurso__banner p:nth-child(2) {
    /* título */
    font-family: var(--fuenteHeading);
    color: var(--colorSecundario);
    font-size: 7.3rem;
    font-weight: bolder;
    text-shadow: 3px 3px 8px var(--negroAlpha);
    background-color: var(--negroAlpha);
    backdrop-filter: blur(10px);

}

.recurso__banner p:nth-child(3) {
    font-style: italic;
    font-size: 2.9rem;
    padding: .5rem 1rem;
}

.recurso__banner p:nth-child(3) span {
    font-family: var(--fuenteHeading);
    font-size: 4.3rem;
    font-weight: bolder;
}



/* ((INFORMACION)) */

/* ((UTILIDADES)) */

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.tarjeta-grid {
    background-color: var(--blanco);
    border: .1rem solid var(--grisBorder);
    border-radius: 1rem;
    overflow: hidden;
}

/* ((REUTILIZABLES)) */

.header {
    background-color: var(--blanco);
    background-image: url(../src/img/textures/diagonal-noise.png);
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.navbar {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    height: 7rem;

    margin: 1.5rem 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    height: inherit;

}

.navbar__enlaces {
    display: flex;
    gap: 2rem;
}

.navbar__a {
    background-color: var(--blanco);
    font-weight: 600;
    text-decoration: none;
    color: var(--negro);
    padding: .7rem 1.5rem;
    border-radius: 4rem;
    border: .1rem solid var(--grisBorder);
    transition: background .2s ease, color .2s ease, transform .2s ease;
}

.navbar__a:hover {
    transform: scaleX(1.1) scaleY(1.1);
    color: var(--blanco);
    background: var(--colorPrimario)
}

.navbar__a:focus {}

.navbar__a--colorbutton {
    color: var(--blanco);
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #003156;
    border-radius: 5rem;
    padding: 1rem;
    transition: background-color .3s ease;
}

.navbar__a--colorbutton:hover {
    background-color: var(--gris);
    color: var(--blanco);
}